.top-container {
  background-color: #00A4A6;
}

.main-container {
  background-color: #F5F5F5;
}

body {
  background-color: #F5F5F5;
}

.main-image {
  width: 100%;
  height: auto;
}

.thumbnails {
  margin-top: 10px;
}

.thumb-image {
  cursor: pointer;
  opacity: 0.6;
  padding: 5px;
}

.thumb-image.selected, .thumb-image:hover {
  opacity: 1;
}

.images-Info-container {
  margin: 15px;
  padding: 30px;
}

.product-description {
  margin: 15px;
}

.sold-count {
  color: #767676;
}

.price-container {
  background-color: #FAFAFA;
  padding: 15px;
}

.price {
  color: #00A4A6;
}

.option-button {
  padding: 10px;
  padding-left: 0; /* 預設情況下移除左側間距 */
}

.option-button:not(:first-child) {
  padding-left: 5px; /* 只有不是第一個元素才加上左側間距 */
}

.option-button:not(:last-child) {
  padding-right: 5px; /* 只有不是最後一個元素才加上右側間距 */
}

.quantity-container {
  margin: 10px;
}

.quantity-button {
  background-color: #00A4A6;
  margin: 20px;
  font-size: 20px;
}

.add-to-cart {
  width: 100%;
  background-color: #00A4A6;
  color: white !important;
  font-size: 20px;
  font-weight: bold;
}
