<div
  class="login-container"
  fxLayout="row"
  fxLayoutAlign="space-evenly center"
  fxLayoutGap="20px"
>
  <img src="assets/petShopLogo.png" alt="Login Image" fxFlex="20" />
  <mat-card>
    <mat-card-content>
      <form
        (ngSubmit)="login()"
        #loginForm="ngForm"
        fxLayout="column"
        fxLayoutAlign="space-around"
        class="login-form"
      >
        <mat-form-field appearance="fill">
          <mat-label>{{ "EMAIL" | translate }}</mat-label>
          <input
            matInput
            placeholder="{{ 'ENTER_EMAIL' | translate }}"
            type="email"
            [(ngModel)]="email"
            name="email"
            required
            email
            #emailInput="ngModel"
          />
          <mat-error
            *ngIf="emailInput.errors?.['required'] && emailInput.touched"
            >{{ "ENTER_EMAIL" | translate }}</mat-error
          >
          <mat-error
            *ngIf="emailInput.errors?.['email'] && emailInput.touched"
            >{{ "INVALID_EMAIL" | translate }}</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ "PASSWORD" | translate }}</mat-label>
          <input
            matInput
            placeholder="{{ 'ENTER_PASSWORD' | translate }}"
            [type]="hide ? 'password' : 'text'"
            [(ngModel)]="password"
            name="password"
            required
            minlength="8"
            #passwordInput="ngModel"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hide = !hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error
            *ngIf="passwordInput.errors?.['required'] && passwordInput.touched"
            >{{ "ENTER_PASSWORD" | translate }}</mat-error
          >
          <mat-error
            *ngIf="passwordInput.errors?.['minlength'] && passwordInput.touched"
            >{{ "PASSWORD_MINLENGTH" | translate }}</mat-error
          >
          <mat-error
            *ngIf="passwordInput.errors?.['pattern'] && passwordInput.touched"
            >{{ "PASSWORD_PATTERN" | translate }}</mat-error
          >
        </mat-form-field>
        <button
          mat-button
          class="login-button"
          type="submit"
          [disabled]="!loginForm.valid || !isPasswordValid()"
        >
          {{ "LOGIN_BUTTON" | translate }}
        </button>
        <div
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutAlign="space-between center"
          fxLayoutGap="10px"
        >
          <button
            mat-button
            class="forgot-password"
            (click)="openForgotPasswordDialog()"
          >
            {{ "FORGOT_PASSWORD" | translate }}
          </button>
          <button
            mat-button
            class="register-button"
            (click)="navigateToRegister()"
          >
            {{ "REGISTER_BUTTON" | translate }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
