.login-container {
  height: 100vh;
  background-color: #00a4a6;
}

mat-card {
  width: 300px;
}

mat-form-field {
  width: 100%;
}

.login-button,
.forgot-password,
.register-button {
  width: 100%;
}
