.login-container {
  height: 100vh;
  background-color: #00a4a6;
}

.login-form {
  height: 500px;
  width: 500px;
  padding: 10px;
}

mat-form-field {
  width: 100%;
}

.login-button,
.forgot-password,
.register-button {
  width: 100%;
}
