.top-container {
  background-color: #00A4A6;
}

.user-profile-container {
  background-color: white;
}

.user-profile-card {
  padding: 20px;
  height: 350px;
}

mat-form-field {
  width: 100%;
}

.sidenav-container {
  margin: 20px 0;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

.sidenav-container span {
  font-size: 25px;
}

.sidenav-container mat-icon {
  height: 20px;
}

.selected span {
  color: #00A4A6;
}

.selected mat-icon {
  color: #00A4A6;
}
