.top-container {
  background-color: #00A4A6;
}

.main-container {
  margin: 1rem 0;
}

.user-profile-container {
  background-color: white;
}

.user-profile-card {
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

.selected span {
  color: #00A4A6;
}

.selected mat-icon {
  color: #00A4A6;
}
