<div (scroll)="onscroll()" [ngClass]="topBarFixed?'fixed':'nofixed'">
  <!-- Top Bar -->
  <div class="top-bar" fxLayout="row" fxLayoutAlign="end center">
    <button mat-button href="/help">幫助中心</button>
    <mat-form-field fxFlex="10">
      <mat-select [(ngModel)]="selectedLanguage" (selectionChange)="changeLanguage()">
        <mat-option value="zh-TW">繁體中文</mat-option>
        <mat-option value="en">English</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button href="/register">註冊</button>
    <button mat-button href="/login">登入</button>
  </div>

  <!-- Navigation -->
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="navigation">
    <mat-icon>home</mat-icon>
    <h1 fxFlex="10"><strong >毛毛購物</strong></h1>
    <mat-form-field appearance="fill" fxFlex>
      <input matInput placeholder="搜尋..." [(ngModel)]="searchQuery">
    </mat-form-field>
    <mat-icon fxFlex="10" fxLayoutAlign="center center" (click)="goToCart()">shopping_cart</mat-icon>
  </div>
</div>

<div class="main-container" fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="80">

    <!-- Banner -->
    <div class="banner">
      <c-carousel>
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
          <c-carousel-item *ngFor="let slide of slides; let i = index" class="image-container">
            <mat-progress-spinner *ngIf="!bannerImageLoaded[i]" mode="indeterminate"></mat-progress-spinner>
            <img [lazyLoad]="slide.src" [errorImage]="errorImage" class="d-block w-100"
              (load)="onBannerImageLoad(i)" [hidden]="!bannerImageLoaded[i]"/>
            <c-carousel-caption class="d-none d-md-block">
              <h3>{{slide.title}}</h3>
              <p>{{slide.subtitle}}</p>
            </c-carousel-caption>
          </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
      </c-carousel>
    </div>

    <!-- Product List -->
    <mat-grid-list cols="5" rowHeight="1:1.5" gutterSize="10px">
      <mat-grid-tile *ngFor="let product of products; let i = index">
        <mat-card appMaterialElevation class="product-item" (click)="goToProductDetail(product)">
          <mat-card-header>
            <mat-progress-spinner *ngIf="!productImageLoaded[i]" mode="indeterminate"></mat-progress-spinner>
            <img fxFlex="100" mat-card-image [lazyLoad]="product.image" alt="{{ product.name }}"
            (load)="onProductImageLoad(i)">
          </mat-card-header>
          <mat-card-content>
            <h3>{{ product.name }}</h3>
            <p>{{ product.price | currency }}</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
