<div (scroll)="onscroll()" [ngClass]="topBarFixed?'fixed':'nofixed'">
  <!-- Top Bar -->
  <app-top-bar></app-top-bar>

  <!-- Navigation -->
  <app-navigation></app-navigation>
</div>

<div class="main-container" fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="80">

    <!-- Banner -->
    <div class="banner">
      <c-carousel>
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
          <c-carousel-item *ngFor="let slide of slides; let i = index" class="image-container">
            <mat-progress-spinner *ngIf="!bannerImageLoaded[i]" mode="indeterminate"></mat-progress-spinner>
            <img [lazyLoad]="slide.src" [errorImage]="errorImage" class="d-block w-100"
              (load)="onBannerImageLoad(i)" [hidden]="!bannerImageLoaded[i]"/>
            <c-carousel-caption class="d-none d-md-block">
              <h3>{{slide.title}}</h3>
              <p>{{slide.subtitle}}</p>
            </c-carousel-caption>
          </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control [routerLink] caption="{{ 'PREVIOUS' | translate }}" direction="prev"></c-carousel-control>
        <c-carousel-control [routerLink] caption="{{ 'NEXT' | translate }}" direction="next"></c-carousel-control>
      </c-carousel>
    </div>

    <!-- Product List -->
    <mat-grid-list [cols]="cols" rowHeight="1:1.3" gutterSize="10px" class="grid-product">
      <mat-grid-tile *ngFor="let product of products; let i = index">
        <mat-card appMaterialElevation class="product-item" (click)="goToProductDetail(product)">
          <mat-card-header>
            <mat-progress-spinner *ngIf="!productImageLoaded[i]" mode="indeterminate"></mat-progress-spinner>
            <img fxFlex="100" mat-card-image [lazyLoad]="product.image" alt="{{ product.name }}"
            (load)="onProductImageLoad(i)">
          </mat-card-header>
          <mat-card-content>
            <h5>{{ product.name }}</h5>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <p class="product-price">{{ product.price | currency }}</p>
              <p class="product-sold">已售出 {{ product.sold }}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
