.main-container {
  background-color: #F5F5F5;
}

/* 調整不同斷點下的寬度 */
@media (min-width: 960px) { /* 符合 gt-sm 斷點*/
  .banner img {
    max-height: 300px; /* 在較小的裝置上減少高度 */
  }
}

@media (max-width: 600px) {
  .banner img {
    max-height: 200px; /* 在手機等小型裝置上進一步減少高度 */
  }
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;  /* 將元素的左邊界定位到視窗的中央 */
  transform: translateX(-50%);  /* 使用 transform 將元素水平居中 */
  z-index: 2;
  background-color: #00A4A6;
}

.nofixed {
  position: static;
  background-color: #00A4A6;
}

.navigation mat-icon {
  margin-bottom: 15px;  /* 增加底部邊距以讓圖標與搜索欄的底部對齊，這是因為搜索欄的 material 造成其下方有額外的空間 */
  font-size: 50px;  /* 圖的大小 */
  height: 50px ;  /* 圖的邊框大小 */
  width: 50px;  /* 圖的邊框大小 */
}

.banner img {
  width: 100%; /* 使圖片寬度始終填滿容器寬度 */
  max-height: 400px; /* 設定一個最大高度以避免圖片過高 */
  object-fit: cover; /* 保持圖片的比例，同時填滿元素的整個內容框 */
}

.banner c-carousel-control {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.banner:hover c-carousel-control {
  visibility: visible;
  opacity: 1;
}

.banner c-carousel-indicators {
  visibility: hidden;
}

.banner:hover c-carousel-indicators {
  visibility: visible;
  opacity: 1;
}

.image-container {
  width: 100%;
  height: 40vh;
}

mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-grid-list {
  margin: 10px 0;
}

.mat-grid-tile {
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease;
  border: 1px solid transparent;
  cursor: pointer;
}

.mat-grid-tile:hover {
  box-shadow: 0 10px 6px rgba(0,0,0,0.2);
  border-color: #00A4A6;
}

.product-item {
  width: 100%;
  height: 100%;
}

.product-item img {
  padding-bottom: 10px;
  max-width: 235px;
  max-height: 235px;
}

.product-item h5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 1rem;
  height: 48px;
}

.product-price {
  color: #00A4A6;
  height: 30px;
}

.product-sold {
  color: #757575;
  height: 30px;
}
