.top-container {
  background-color: #00A4A6;
}

.cart-container {
  margin-top: 20px;
}

table th {
  font-weight: bold;
  font-size: 20px;
  color: #888897;
}

.mat-column-select {
  width: 50px;
  text-align: center;
}

.product-image {
  width: 5rem;
  height: auto;
  margin: 10px 10px 10px 0;
}

.mat-column-price {
  text-align: center;
}

.mat-column-quantity {
  width: 10rem;
  text-align: center;
}

.mat-column-quantity button {
  margin: 0 8px;
}

.mat-column-total {
  text-align: center;
}

.mat-column-actions {
  width: 50px;
  text-align: center;
}

.cart-total {
  margin-top: 20px;
}
