.top-container {
  background-color: #00A4A6;
}

.cart-container {
  background-color: white;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

table th {
  font-weight: bold;
  font-size: 20px;
  color: #888897;
}

.mat-column-select {
  width: 50px;
  text-align: center;
}

.product-image {
  width: 5rem;
  height: 80px;
  margin: 10px 10px 10px 0;
}

.mat-column-price {
  text-align: center;
  font-size: 16px;
}

.mat-column-quantity {
  width: 12rem;
  text-align: center;
  font-size: 16px;
}

.mat-column-quantity button {
  margin: 0 8px;
}

.mat-column-total {
  text-align: center;
  font-size: 16px;
}

.mat-column-actions {
  width: 120px;
  text-align: center;
}

mat-divider {
  margin-top: 30px;
  border-top-width: 3px;      /* 更改分隔線厚度 */
}

.cart-total {
  margin-top: 20px;
}
