.top-bar {
  background-color: #00A4A6;
  padding: 5px 0;
}

.top-bar button {
  color: white;
}

.faq-header {
  color: white;
  background-color: #00A4A6;
}

.faq-header mat-icon {
  margin-bottom: 8px;
  font-size: 50px;
  height: 50px ;
  width: 50px;
}
