
<div fxLayout="column" fxLayoutAlign="center stretch">
  <!-- Faq Header -->
  <div fxLayout="row" fxLayoutAlign="start center" class="faq-header">
    <mat-icon >home</mat-icon>
    <h1><strong>毛毛購物</strong></h1>
    <h1><strong>|</strong></h1>
    <h1><strong>幫助中心</strong></h1>
  </div>

  <div class="faq-container" >
    <h2>問題 Q&A</h2>
    <mat-accordion class="faq-accordion" multi="true">
      <mat-expansion-panel *ngFor="let faq of faqs">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ faq.question }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ faq.answer }}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

